footer{
	clear: both;
}
body{
	background-color: #E0E0E0;
}
#secondary aside h1 {
	font-size: 25px;
}
#secondary aside ul {
	margin-left: 0px;
}
#commentform input[type='submit'] {
	display: block;
	position: relative;
	font-size: 20px;
	width: 100px;
	height: 40px;
	padding: 10px;
}
footer.entry-footer{
	background-color: transparent!important;
}
footer.comment-meta{
	background-color: transparent!important;
}
