/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "lato";
    font-weight: 300;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    margin-top:-50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 100px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg2.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #F2F2F2;
}

.content-section-b {
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-c {
    background-color: #E0E0E0;
    padding: 30px 0 50px 0;
    /* border-top: 1px solid #F7F7F7; */
    /* border-bottom: 1px solid #e7e7e7; */
}

.content-section-c-c {
    background-color: #E0E0E0;
    padding: 30px 0 0 0;
    /* border-top: 1px solid #F7F7F7; */
    /* border-bottom: 1px solid #e7e7e7; */
}

.content-section-d {

    padding: 0px 0;
    

    /* border-top: 1px solid #e7e7e7; */
    border-bottom: 1px solid #e7e7e7;
}

.content-section-e {
    padding: 20px 0;
    background-size: cover;
    background-attachment: fixed;
    /* border-top: 1px solid #e7e7e7; */
    border-bottom: 1px solid #e0e0e0;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 20px 0;
    background-color: #383a35;
}

p.copyright {
    margin: 0px 0 0;
}

/* custom css */

.cp-green {
    color: #66b14b!important;
}

.cp-bg-green {
    background-color: #66b14b!important;
}

.cp-light-green {
    color: #d2efbf!important;
}

.cp-light-bg-green {
    background-color: #d2efbf!important;
}

.cp-orange {
    color: #FF9800!important;
}

.cp-bg-orange {
    background-color: #FF9800!important;
}

.cp-blue {
    color: #2196F3!important;
}

.cp-bg-blue {
    background-color: #2196F3!important;
}

.cp-yellow {
    color: #FFEB3B!important;
}

.cp-bg-yellow {
    background-color: #FFEB3B!important;
}

.cp-grey {
    color: #c7c7c7!important;
}

.cp-bg-grey {
    background-color: #E8E8E8!important;
}

.cp-light-grey {
    color: #EDEDED!important;
}

.cp-light-bg-grey {
    background-color: #EDEDED!important;
}

.cp-white {
    color: #fafafa!important;
}

.cp-bg-white {
    background-color: #fafafa!important;
}

.cp-pwhite {
    color: #fff!important;
}

.cp-bg-pwhite {
    background-color: #fff!important;
}

.cp-bg-main {
    background-color: #262B2F!important;
}

.cp-main {
    color: #555!important;
    letter-spacing: 0.5px;
}

.cp-bg-green-opa {
    background-color: rgba(102, 177, 75, 0.78)!important;
}

.cp-bg-main-opa {
    background-color: rgba(38, 43, 47, 1)!important;
}

.cp-bg-white-opa {
    background-color: rgba(250, 250, 250, 0.89)!important;
}

.cp-facebook {
    color: #5979b7!important;
}

.cp-twitter {
    color: #5EA9DD!important;
}

.cp-font-lg {
    font-size: 20px;
}

.cp-font-md {
    font-size: 16px;
}

.cp-font-sm {
    font-size: 15px;
}

.cp-font-xs {
    font-size: 12px;
}

.cp-font-custom {
    font-size: 14.5px;
}

.cp-img {
    max-width: 100px;
    margin-top: 20px;
}

.cp-brd {
    border-bottom: 1px solid #494949;
}

.cp-brd-cont {
    border: 15px solid #626262;
}

.cp-padding-card {
    padding:30px;
}

.cp-padding-nav {
    padding-top: 5px;
}

.cp-opacity {
    opacity: 0.7;
}

.cp-height {
    height: 50px;
}

.cp-margin-top-chart {
    margin-top: -25px;
    padding-bottom:30px;
}

.cp-margin-top-contact {
    margin-top: -15px;
}

.cp-strong {
    font-weight: bold;
}

textarea[name=message] {
    height:80px;
    resize: none;
}

.cp-foot {
    margin-top:-30px;
}

.cp-text-shadow {
    text-shadow: 1px 2px 3px #000;
}

.cp-radio {
    padding-bottom: 20px;
}

.cp-rad-pad {
    margin-top:-20px;
    padding:15px;
}

.cp-top-nav {
    margin-top:-20px;
}

.cp-top-logo {
    margin-top:-2px;
}

.cp-search-xs {
    margin-left:-100px;
}

.cp-p {
    padding-bottom: 10px;
    padding-top: 27px;
    text-align:left;
}

.cp-logo-down {
    margin-top:120px;
}

.cp-padding-c {
    padding-bottom:40px;
}

.cp-search-mobile {
    margin-right:19px;
}

.cp-pad-bot {
    margin-bottom: 20px;
}

.cp-btn-width {
  width:250px;
}

.cp-mxht {
    max-height:300px;
}

.cp-mxht2 {
    max-height:350px;
}

.cp-deco-none {
  text-decoration: none!important;
}

.cp-just-left {
  text-align: left;
}

/* video */

#video {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 45rem;
  /* margin-top: 5rem; */
  /* margin-bottom: 10rem; */
  position: relative;
}

#mac {
  background-image: url(../img/mac.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 49rem;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 1.5rem;  
}

#mac #logo {
  margin-top: 2rem;
  text-align: center;
}

#logo {
  max-width: 100%;
  margin: 0rem auto 0 auto;
  display: block;
}

/* Testimonial box */


#testimonial{
  padding-top:20px;
    clear: both;
    width: 100%;
    
  background-color: #F2F2F2;
    min-height: 470px;
}

#testimonial p{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}
#testimonial p strong{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
#testimonial .testi-box{
    border: 5px solid #EFEFEF;
    background-color: #fff;
    padding: 2.2em 1em 7em 4.7em;
    position: relative;
    margin-left: 5.8em;
    margin-right: 0em;
    margin-bottom: 2em;
}
#testimonial .testi-box .img{
    position: absolute;
    left: -5em;
    top: 0em;
}
#testimonial .testi-box p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
    z-index: 9999;
    position: relative;
}

#testimonial .testi-box{
    background-color: #fff;
    padding: 3em 1em 17em 4.7em;
    position: relative;
    margin-bottom: 2em;
}
#testimonial .testi-box .img{
    position: absolute;
    left: -5em;
    top: 0em;
}
#testimonial .testi-box p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
    z-index: 9999;
    position: relative;
}
#testimonial .box-container{
    text-align: center;
}



/* Some initial styling */

* {
    box-sizing: border-box;
}

body {
    background: #2F2F2F;
}

form {
    /* width: 200px; */
    /* height: 40px; */
    margin: 4px auto 0;
    position: relative;
}

/* Ok, HTML markup is complete */
/* submit button will also be the same but with a different color. We'll style the label and the submit input */
/* a faky 3D look */

#submit {
    display: none;  
}

form .icon, form .submit {
    width: 35px;
    height: 35px;
    background: #66b14b;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px 6px #499B2B,         0px 8px 10px rgba(168, 168, 168, 0.15);
}

form .submit {
    background: #525452;
    cursor: pointer;
    box-shadow: 0px 6px #2E2F2E,         0px 8px 10px rgba(0, 0, 0, 0.5);
}

/* Now, we'll create a search (magnifying glass) icon using pseudo elements */
form .icon:after, form .submit:after  {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 50%;
    left: 10px;
    top: 9px;
}

form .icon:before, form .submit:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 2px;
    background: rgb(250, 250, 250);
    transform: rotate(-35deg);
    top: 19px;
    left: 21px;
}

/* Styling the input */
form #search {
    -webkit-appearance: none;
    height: 35px;
    width: 0;
    position: absolute;
    padding: 0;
    opacity: 0;
    border: none;
    outline: none;
    position: absolute;
    right: 35px;
    box-shadow:
        0px 5px #bbb,
        0px 8px 10px rgba(0, 0, 0, 0.5);
}


/*TILT*/
.cp-tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.cp-tilt:hover {
    margin-top: -10px;
  -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.animatedParent h1{
  font-family: 'Lato', sans-serif;
  font-size: 72px;
  line-height: 62px;
  font-weight: 300;
  color:#fff;
  margin-bottom:15px;
}


.form-control2 {
  display: block;
  width: 35%;
  height: 40px;
  padding: 21px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 3px solid #F2F2F2;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control2:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control2::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control2:-ms-input-placeholder {
  color: #999;
}
.form-control2::-webkit-input-placeholder {
  color: #999;
}
.form-control2[disabled],
.form-control2[readonly],
fieldset[disabled] .form-control2 {
  background-color: #eee;
  opacity: 1;
}
.form-control2[disabled],
fieldset[disabled] .form-control2 {
  cursor: not-allowed;
}
textarea.form-control2 {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}


input[type=radio] + label {
    display:inline-block;
    margin: 2px;
    padding: 5px 15px;
    background-color: #D3D3D3;
    border-color: #ddd;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

input[type=radio] + label:hover {
    background: #6e6868!important;
    cursor: pointer;
}

input[type=radio]:checked + label {
    background-image: none;
    background-color: #817C7C;
}
input[type=radio] {
    display:none;
    margin:10px;
}

.styled {
    padding-top: 30px;
}

.cp-btn {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 3px solid transparent;
}

.cp-pack {
    border: 1px solid #E0E0E0!important;
}

.cp-pack-mid {
    border-top: 1px solid #E0E0E0!important;
    border-left: 1px solid #E0E0E0!important;
}

.cp-pack-bot {
    border-top: 1px solid #E0E0E0!important;
    border-left: 1px solid #E0E0E0!important;
    border-bottom: 1px solid #E0E0E0!important;
    border-right: 1px solid #E0E0E0!important;
}

.cp-btn-cont {
  /* margin: auto; */
  display: inline-block;
  text-decoration: none;
  padding: 14px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}


#comparetable {width: 83%; table-layout: fixed; text-align: center; margin: 3em 0; border-collapse: collapse; }
#comparetable tr {}
#comparetable td,
#comparetable th {padding: 1.5rem; text-align: center;}
#comparetable td.rowTitle {text-align: left;}
.blank {background: none!important; border: none!important;}
 .blueshine th {background-color: #F2F2F2; font-size: 2rem; color: #63b6e7; text-align: center; font-weight: 400; text-shadow: 0 1px 0 #e0ecf7; border: 1px solid #c8d6e2; font-weight: 400;}
 .blueshine td {background-color: #F2F2F2; border: 1px solid #c8d6e2;} 
 .blueshine td.rowTitle {border-left: 4px solid #333}
 
 #comparetable td.nostyle{
  background:none;
  border: 0;
  padding:0.7em 0 0 0;
 }
 #comparetable td.highlight{
  font-weight: 400;
  font-size: 25px;
 }
/* END COMPARISON TABLE STYLES */

.trans {
    background-color: #E0E0E0;
}




#testimonial-xs{
  padding-top:20px;
    clear: both;
    width: 100%;
    
  background-color: #F2F2F2;
    min-height: 470px;
}

#testimonial-xs p{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}
#testimonial-xs p strong{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
#testimonial-xs .testi-box-xs{
    border: 5px solid #EFEFEF;
    background-color: #fff;
    padding: 2.2em 1em 7em 4.7em;
    position: relative;
    margin-left: 5.8em;
    margin-right: 0em;
    margin-bottom: 2em;
}
#testimonial-xs .testi-box-xs .img{
    position: absolute;
    left: -5em;
    top: 0em;
}
#testimonial-xs .testi-box-xs p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
    z-index: 9999;
    position: relative;
}

#testimonial-xs .testi-box-xs{
    background-color: #fff;
    padding: 3em 1em 40em 4.7em;
    position: relative;
    margin-bottom: 2em;
}
#testimonial-xs .testi-box-xs .img{
    position: absolute;
    left: -5em;
    top: 0em;
}
#testimonial-xs .testi-box-xs p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
    z-index: 9999;
    position: relative;
}
#testimonial-xs .box-container-xs{
    text-align: center;
}


.nav>li>a{
  padding-left: 10px;
  padding-right: 10px;
}